.update-user{
    width: 25%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.065);
}

h3 {
    text-align: center;
    margin-top: 1.2em 0;
}

.update-userForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.update-userForm .inputGroup button {
    margin-top: 8px;
}
